.underline {
  width: 160px;
  height: 2px;
  background-color: #000000;
  border-radius: 2px;
}
.btn_clo{
  background-color: #fc8a06;
}
.btn_out{
  color: #000000;
  border: 1px solid #000000;
}
.btn_out:hover{
  color: #000000;
  border: 1px solid #000000;
}

.button_lebel button:hover{
  background-color: #f4c27a;
  
}